
.main-header .logo {
  font-weight: bold;
  font-size: 24px
}

.info-box{
  cursor: pointer;  
}

@media (min-width: 768px){
.col-sm-4{
    width: 24%
}}

.nav-tabs-custom{
  margin-top: 50px;
}

.info-box-number{
  font-size: 26px;
  color:#696969;
}

.shiny-server-account { display: none; }